body{
  margin: 0;
}

.graph {
  height: 250px;
  width: 400px;
  margin-left: 0;
}

.bg-red-500 {
  background-color: #ef4444c0;
}

.bg-yellow-400 {
  background-color: #facc15ce;
}

.bg-blue-500 {
  background-color: #2dbafcc0;
}

.estado-humedad {
  border-radius: 0.75rem; /* rounded-xl */
  padding: 1.5rem;         /* p-6 */
  color: white;            /* text-white */
  text-align: center;      /* text-center */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
  transition: all 0.5s ease; /* transition-all duration-500 */
}

.bar{
  background-color: rgb(53, 53, 53);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.764);
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.bar h2{
  margin: 0;
  width: fit-content;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
}